.quarto-title h1 {
  font-size: 2.5em;
  margin:0px;
  padding:0px;
}
ul {
    margin: 0;
    padding: 0 0 0 0.0em;
}
ul ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

h2.hiddenh2 {
  display:none;
}
ruby {
  ruby-position: over; /* ensure consistent structure */
}

ruby.inline-ruby rt {
  display: inline;              /* make <rt> flow inline */
  font-size: inherit;           /* match text size */
  font-style: normal;
  margin-left: 0.2em;
}
ruby.inline-ruby rt::before {
  content: "《";
}
ruby.inline-ruby rt::after {
  content: "》";
}

.rdo-header {
  border: none;
  margin: 2px 2px 2px 0px;
  padding: 4px 0px 0px 0px;
}

h3.rdo-header {
  font-size:1.05em;
}
h4.rdo-header {
  font-size:1.00em;
}
